.title {
    text-align: center;
    font-size: 2rem;
    color: #333;
}

.project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.5rem;
    width: 100%;
    margin: 1.6rem 0;
}

.option {
  padding: 10px 16px;
  border-radius: 8px;
  background-color: #f1f7ff;
  color: black;
  border: 1px solid #4b5563;
  font-size: 16px;
  width: 200px;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='12'%20viewBox='0%200%2024%2024'%20fill='none'%20stroke='%23000000'%20stroke-width='2'%20stroke-linecap='round'%20stroke-linejoin='round'%3E%3Cpolyline%20points='6%209%2012%2015%2018%209'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;
  cursor: pointer;
}

.project-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-target {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}

.project-target:hover {
    transform: scale(1.01);
}

.img-project img {
    width: 500px;
    border-radius: 10px;
    cursor: pointer;
}

.project-description {
    flex: 1;
}

.project-description h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #2a2a2a;
}

.project-description p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

.project-description button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.project-description button:hover {
    background-color: #1b5fce;
}

@media (max-width: 1200px) {
    .img-project img {
        width: 100%;
        max-width: 350px;
    }
}

@media (max-width: 768px) {

    .project-target {
        flex-direction: column;
        align-items: center;
    }

    .img-project img {
        width: 100%;
        max-width: 500px;
    }

    .project-description {
        text-align: center;
    }
}
