.header-section {
    max-width: 1130px;
    width: 100%;
    height: 75px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: 6px 5px 6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.principalName {
  margin: 0 auto;
  font-size: 1.8rem;
  font-weight: bold;
}

.name-container {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.logo-icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

.blue-name {
  color: #3b82f6;
}

.header-nav-desktop, .header-buttons-desktop {
  display: flex;
  align-items: center;
}

.unordered-list {
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  list-style: none;
}

.header-li {
  margin: 0 3px;
  padding: 14px 14px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
  text-decoration: none;
  background-color: #f8f8f8;
  color: rgb(46, 46, 46);
  gap: 5px;
}

.header-li:hover {
  background-color: #e1e1e1;
  border: 1px solid #a6a6a6;
}

.header-buttons-desktop button {
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #3b82f6;
  color: white;
  display: flex;
  align-items: center;
}

.header-buttons-desktop button:first-child {
  margin-left: 0;
}

.header-buttons-desktop button:hover {
  background-color: #1b5fce;
}

.icon-space {
  margin-right: 8px;
  vertical-align: middle;
}

/*MENU HAMBURGUESA*/

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.header-mobile-menu {
  width: 60vw;
  height: 100%;
  display: none;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0 15px 15px 0;
  padding: 15px 20px;
  animation: fadeDown 0.3s ease-in-out;
  position: absolute;
  top: 0;
  z-index: 9;
}

.header-mobile-menu nav {
  width: 100%;
}

.header-mobile-menu .unordered-list {
  margin-top: 20px;
  flex-direction: column;
  width: 100%;
}

.header-buttons-mobile {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-buttons-mobile button {
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: #3b82f6;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-buttons-mobile button:hover {
  background-color: #1b5fce;
}


@media (max-width: 1200px) {
  .header-section {
    max-width: 85vw;
    margin: 20px auto;
  }
}


@media (max-width: 940px) {
  .header-section {
    max-width: 85vw;
    margin: 20px auto;
  }

  .menu-toggle {
    display: block;
  }

  .header-li {
    margin: 10px 0;
    background-color: rgb(239, 239, 239);
  }

  .header-nav-desktop,
  .header-buttons-desktop {
    display: none;
  }

  .header-mobile-menu {
    display: flex;
  }
}