* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
}

body {
  background: #d9f2ff;
  background: linear-gradient(90deg, rgba(217, 242, 255, 1) 15%, rgba(222, 209, 237, 1) 85%);
}

body.dark-theme {
  background: #00111c;
  background: linear-gradient(90deg, rgba(0, 17, 28, 1) 15%, rgba(17, 9, 36, 1) 85%);
}

main {
  max-width: 1130px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.principal-container {
  width: 350px;
  min-height: 650px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
}

body.dark-theme .principal-container,
body.dark-theme .profile-container,
body.dark-theme .header-mobile-menu {
  background: rgb(25, 25, 25);
}

body.dark-theme .header-section {
  background: rgb(25, 25, 25);
  color: white;
}

body.dark-theme .medium-container,
body.dark-theme .profile-text,
body.dark-theme .description-container,
body.dark-theme .manual-container,
body.dark-theme .manual-container ul,
body.dark-theme .icon-item p,
body.dark-theme .header-li,
body.dark-theme .diploma-container,
body.dark-theme .project-target,
body.dark-theme .project-target p,
body.dark-theme .project-target h1,
body.dark-theme .option {
  background-color: rgb(45, 45, 45);
  color: #E5E7EB;
}

body.dark-theme .category,
body.dark-theme .title {
  color: white;
}

body.dark-theme .option {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='12'%20viewBox='0%200%2024%2024'%20fill='none'%20stroke='%23ffffff'%20stroke-width='2'%20stroke-linecap='round'%20stroke-linejoin='round'%3E%3Cpolyline%20points='6%209%2012%2015%2018%209'%3E%3C/polyline%3E%3C/svg%3E");
  
}

.profile-image {
  max-width: 300px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.profile-text {
  background-color: #f1f7ff;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.principal-container p {
  margin: 15px 0;
}

.resume-button {
  background-color: #3b82f6;
  color: white;
  border: none;
  margin-top: 20px;
  padding: 8px 16px;
  border-radius: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  text-align: center;
}

.resume-button:hover {
  background-color: #1b5fce;
}

.medium-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  background-color: aliceblue;
}

.medium-container:first-child {
  margin-bottom: 20px;
}

.medium-container h2 {
  margin-bottom: 10px;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 10px;
}

.icon-item {
  text-align: center;
  text-decoration: none;
}

.icon-item img {
  width: 40px;
  height: 40px;
  margin: 7px 0;
}

.icon-item p {
  margin-top: 5px;
  color: black;
  font-size: 0.85rem;
  cursor: pointer;
}

.invert {
  filter: invert(1);
}

.description-container,
.manual-container {
  background-color: #f1f7ff;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.descripcion-container h2,
.manual-container h2 {
  margin-bottom: 10px;
}

.descripcion-container p,
.manual-container ul {
  color: #333;
}

.manual-container ul {
  padding-left: 20px;
  list-style-type: disc;
}

.manual-container li {
  margin-bottom: 6px;
}


@media (max-width: 1200px) {
  main {
    max-width: 85vw;
    margin: 30px auto;
  }

  .principal-container {
    width: 85vw;
    min-height: auto;
  }


  .profile-container {
    display: flex;
  }

  .profile-image {
    max-width: 300px;
    max-height: 260px;
  }

  .profile-text {
    margin-left: 15px;
    max-width: 60vw;
  }

  .medium-container {
    padding: 10px 100px;
  }
}

@media (max-width: 768px) {
  main {
    max-width: 85vw;
    margin: 30px auto;
  }

  .principal-container {
    min-height: 100%;
    max-width: 85vw;
    width: 100%;
  }

  .principal-container:first-child {
    text-align: center;
  }

  .profile-container {
    display: block;
    text-align: center;
  }

  .profile-image {
    max-width: 100%;
  }

  .profile-text {
    width: 100%;
    max-width: 75vw;
    margin: 0;
  }

  .medium-container {
    padding: 10px 0;
  }
}