* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/font.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

main {
  max-width: 1130px;
  margin-top: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.principal-container {
  width: 400px;
  height: 600px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
}

.principal-container img {
  max-width: 350px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.principal-container p {
  margin: 15px 0;
}

.principal-container button {
  background-color: #638bb3;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* medium card */

.medium-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  background-color: aliceblue;
}

.medium-container h2 {
  margin-bottom: 10px;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 10px;
}

.icon-item {
  text-align: center;
}

.icon-item img {
  width: 40px;
  height: 40px;
}

.icon-item p {
  margin-top: 5px;
  font-size: 0.85rem;
}

.invert {
  filter: invert(1);
}

/* third card */

.description-container,
.manual-container {
  background-color: #f1f7ff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.descripcion-container h2,
.manual-container h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.descripcion-container p,
.manual-container ul {
  font-size: 0.95rem;
  color: #333;
}

.manual-container ul {
  padding-left: 20px;
  list-style-type: disc;
}

.manual-container li {
  margin-bottom: 6px;
}